.my-card {
    max-width: 1300px;
    margin: 15px auto 0;
    border: 1px solid #b2b0a9;
    min-height: 530px;
}

.my-card-body {
    padding: 20px 40px 15px;
}

.body {
    display: flex;

    margin-bottom: 50px;
    color: #b2b0a9;
    position: relative;
}

.info {
    display: flex;


}

.subContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.imageEdit img {
    width: 500px;
}

.info-exact {
    margin: 20px 0 20px 100px;
    position: absolute;
    top: 0;
    left: 410px;
}
.info-exact pre{
    color: white;
}

.centered {
    text-align: center;
}

.imageStyle {
    max-width: 500px;

}
.planted {
    position: absolute;
    bottom: 10px;
    right: 50%;
}
.relativePlanet {
    position: relative;
}
.forDeathStar {
    max-width: 500px;
}
